<p id="notice"><%= notice %></p>

<%#= gif.user_id %>
<%#= gif.image_data %>

<!-- component -->
<div class="container mx-auto p-8">
  <div class="flex flex-wrap justify-center">
    <% @gifs.each do |gif| %>
      <div class="w-64 m-4 shadow rounded">
        <%= link_to image_tag(gif.image_url), gif, :class => "mx-auto" %>
        <div class="text-gray-700 text-sm">
          Uploaded by: <%= link_to gif.user.name, gif.user %>
        </div>
        <div class="p-2">
          <%= linked_tag_list gif %>
        </div>
      </div>
    <% end %>
  </div>
</div>
